body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.show {
  transform: translate(-100%);
  opacity: 1 !important;
}

#popup {
  opacity: 0;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.popupWindow {
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgb(235, 235, 30);
  border: 5px solid #276ae7;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 90vh;
  gap: 1em;
  grid-template-rows: 1fr repeat(3, 35px);
  align-items: center;
  justify-items: center;
  border-radius: 20px;
}

.pokemonImg {
  height: 100%;
}

#popup #closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}

#popup .pokemonImg {
  background-image: url(./img/backgroundPokemon.png);
  background-size: cover;
  background-position: center;
  padding: 60px;
  border-radius: 40px;
  border: 10px solid #276ae7;
  width: 350px;
}

.pokemonImg img {
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

form input,
form textarea {
  border-radius: 5px;
  border: 3px solid #276ae7;
  padding: 5px;
}

form button {
  background: red;
  font-size: 15px;
  font-weight: bold;
  justify-self: center;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid #002466;
  box-shadow: 4px 3px #002466;
  color: #002466;
}

form button:hover {
  background: #fdff87;
  border: 3px solid #276ae7;
  box-shadow: 4px 3px #276ae7;
  color: #276ae7;
}
