* {
  box-sizing: border-box;
  margin: 0;
}

#navigationLinks {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20%;
  font-weight: bold;
  color: #002466;
  cursor: pointer;
}

li:hover {
  color: #bfe3ff;
}

nav {
  padding-inline: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  background-color: red;
  align-items: center;
  padding: 10px;
}

footer img {
  width: 60px;
}

.myLogo {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-right: auto;
}

.myLogo img {
  width: 100%;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2%;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.pokemonItem {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 5px solid #276ae7;
  border-radius: 40px;
  width: 100%;
  grid-template-rows: 250px 1fr 1fr 1fr;
  background: #bfe3ff;
}

.namePokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeButton {
  background: none;
  border: none;
  font-size: 35px;
}

.likeButton:hover {
  color: red;
  cursor: pointer;
}

.likesCounter {
  font-weight: bold;
  justify-self: end;
}

.commentButton {
  background: yellow;
  color: #002466;
  font-weight: bold;
  justify-self: center;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid #002466;
  box-shadow: 4px 3px #002466;
  font-size: 15px;
}

.commentButton:hover {
  background: red;
  font-size: 15px;
}

footer {
  background-color: #276ae7;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 30px;
}
