* {
  box-sizing: border-box;
  margin: 0;
}

#navigationLinks {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  gap: 2%;
}

.myLogo {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}

.pokemonImg {
  width: 250px;
}

.pokemonImg img {
  width: 100%;
}
