* {
  box-sizing: border-box;
  margin: 0;
}

#navigationLinks {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20%;
  font-weight: bold;
  color: #002466;
}

li:hover {
  color: #bfe3ff;
}

nav {
  padding-inline: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  background-color: red;
  align-items: center;
  padding: 30px;
}

.myLogo {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-right: auto;
}

.myLogo img {
  width: 100%;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2%;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.pokemonItem {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 5px solid #276ae7;
  border-radius: 40px;
  height: 500px;
  width: 100%;
  grid-template-rows: 250px 1fr 1fr 1fr 1fr;
  background: #bfe3ff;
}

footer {
  background-color: #276ae7;
  padding: 30px;
}
